<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Student's Class Page</title>
        <meta charset="ISO-8859-1"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav role="navigation" class="primary-navigation">
            <ul>
                <li><a th:href="@{/student}">Home</a></li>
                <li><a th:href="@{/student/class}">Class</a></li>
                <li><a th:href="@{/student/changeS/{id}(id=${student.ids})}">Edit Profile</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </nav>


        <div class="table_div">
        <h1>Class Teacher</h1>

        <table border="1" class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Birthdate</th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="professor : ${teacher}">
                <td th:text="${professor.idt}"></td>
                <td th:text="${professor.name}"></td>
                <td th:text="${professor.email}"></td>
                <td th:text="${#dates.format(professor.birthdate, 'dd/MM/yyyy')}" ></td>
                <td th:text="${professor.address}"></td>
            </tr>
            </tbody>
        </table>
        </div>

        <div class="table_div">

        <h1>Classmates</h1>

        <table border="1" class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Birthdate</th>
                <th>Address</th>
                <th>Average</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aluno : ${list_student}">
                <td th:text="${aluno.ids}"></td>
                <td th:text="${aluno.name}"></td>
                <td th:text="${aluno.email}"></td>
                <td th:text="${#dates.format(aluno.birthdate, 'dd/MM/yyyy')}"></td>
                <td th:text="${aluno.address}"></td>
                <td th:text="${aluno.average}"></td>
            </tr>
            </tbody>
        </table>
        </div>
    </body>
</html>