<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin - Add Teachers</title>
        <meta charset="ISO-8859-1"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    </head>

    <body>
        <nav role="navigation" class="primary-navigation">
            <ul>
                <li><a th:href="@{/admin}">Home</a></li>
                <li><a href="#">Tables&dtrif;</a>
                    <ul class="dropdown">
                        <li><a th:href="@{/admin/course}">Courses</a></li>
                        <li><a th:href="@{/admin/student}">Students</a></li>
                        <li><a th:href="@{/admin/teacher}">Teachers</a></li>
                    </ul>
                </li>
                <li><a href="#">Profile</a></li>
            </ul>
        </nav>

        <h1>Add Student</h1>

        <div th:if:text="${error_aS}" style="color: red;">
            <p th:text="${error_aS}"></p>
        </div>

        <form action="#" th:action="@{/admin/student/saveStudent}" th:object="${new_student}" method="POST">
            <input type="text" autocomplete="off" required th:field="*{name}" placeholder="Name"><br><br>
            <input type="password" autocomplete="off" required th:field="*{password}" placeholder="Password"><br><br>
            <input type="email" autocomplete="off" required th:field="*{email}" placeholder="Email"><br><br>
            <input type="date" autocomplete="off" required th:field="*{birthdate}" placeholder="Birthdate"><br><br>
            <input type="text" autocomplete="off" required th:field="*{address}" placeholder="Address"><br><br>
            <input type="number" min="0" max="10" autocomplete="off" required th:field="*{idc}" placeholder="Course ID"><br><br>
            <input type="number" min="0" max="20" step="0.01" autocomplete="off" required th:field="*{average}" placeholder="Average"><br><br>
            <input type="number" min="1" max="3" autocomplete="off" required th:field="*{state}" placeholder="State"><br><br>
            <button type="submit">Add Student</button><br><br>
        </form>

    </body>
</html>