<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin - Add Teacher</title>
        <meta charset="ISO-8859-1"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    </head>

    <body>
        <nav role="navigation" class="primary-navigation">
            <ul>
                <li><a th:href="@{/admin}">Home</a></li>
                <li><a href="#">Tables&dtrif;</a>
                    <ul class="dropdown">
                        <li><a th:href="@{/admin/course}">Courses</a></li>
                        <li><a th:href="@{/admin/student}">Students</a></li>
                        <li><a th:href="@{/admin/teacher}">Teachers</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </nav>

        <div class="add_form">

        <h1>Add Teacher</h1>

        <div th:if:text="${error_aT}" style="color: red;">
            <p th:text="${error_aT}"></p>
        </div>

        <form action="#" th:action="@{/admin/teacher/saveTeacher}" th:object="${new_teacher}" method="POST">
            <label for="name">Name:</label>
            <input id="name" type="text" autocomplete="off" required th:field="*{name}" placeholder="Name">
            <label for="password">Password:</label>
            <input id="password" type="password" autocomplete="off" required th:field="*{password}" placeholder="Password">
            <label for="email">Email:</label>
            <input id="email" type="email" autocomplete="off" required th:field="*{email}" placeholder="Email">
            <label for="address">Address:</label>
            <input id="address" type="text" autocomplete="off" required th:field="*{address}" placeholder="Address">
            <label for="gender">Gender:</label>
            <input id="gender" type="text" autocomplete="off" required th:field="*{gender}" placeholder="Gender">
            <label for="birthdate">Birthdate:</label>
            <input id="birthdate" type="date" autocomplete="off" required th:field="*{birthdate}" placeholder="Birthdate">
            <label for="idc">Course ID:</label>
            <input id="idc" type="number" min="1" autocomplete="off" required th:field="*{idc}" placeholder="Course ID">
            <label for="salary">Salary:</label>
            <input id="salary" type="number" min="10" max="25" value="10" autocomplete="off" required th:field="*{salary}" placeholder="Salary">
            <button type="submit">Add Teacher</button>
        </form>
        </div>
    </body>
</html>