<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin - Student</title>
        <meta charset="ISO-8859-1"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    </head>

    <body>
        <nav role="navigation" class="primary-navigation">
            <ul>
                <li><a th:href="@{/admin}">Home</a></li>
                <li><a href="#">Tables&dtrif;</a>
                    <ul class="dropdown">
                        <li><a th:href="@{/admin/course}">Courses</a></li>
                        <li><a th:href="@{/admin/student}">Students</a></li>
                        <li><a th:href="@{/admin/teacher}">Teachers</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </nav>

        <div class="table_div">
        <h1>Listed Students</h1>
            <button class="add_button" type="button" onclick="window.location.href='/admin/student/addStudent'">Add Student</button><br><br>

            <table border="1" class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Birthdate</th>
                    <th>Address</th>
                    <th>Course</th>
                    <th>Average</th>
                    <th>State</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="aluno : ${list_student}">
                    <td th:text="${aluno.ids}"></td>
                    <td th:text="${aluno.name}"></td>
                    <td th:text="${aluno.email}"></td>
                    <td th:text="${aluno.birthdate.getDay()} + '/' + ${aluno.birthdate.getMonth()} + '/' + ${aluno.birthdate.year + 1900}" ></td>
                    <td th:text="${aluno.address}"></td>
                    <td th:text="${aluno.idc}"></td>
                    <td th:text="${aluno.average}"></td>
                    <td th:text="${aluno.state}"></td>
                    <td id="tentar"><a th:href="@{/admin/student/deleteStudent/{id}(id=${aluno.ids})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
            </div>
    </body>
</html>