<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Pagina do Professor</title>
  <meta charset="ISO-8859-1"/>
  <link rel="stylesheet" type="text/css" href="/css/teacher.css" />
  <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
</head>
<body>
<nav role="navigation" class="primary-navigation">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Courses &dtrif;</a>
      <ul class="dropdown">
        <li><a href="#">View courses</a></li>
        <li><a href="#">Assign grades</a></li>
        <li><a href="#">View grades</a></li>
      </ul>
    </li>
    <li><a href="#">Profile</a></li>
  </ul>
</nav>
<h1>Lista de Cursos</h1>
<table border="1" class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Descricao</th>
    <th>Duracao</th>
    <th>Capacidade</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="curso : ${list_course}">
    <td th:text="${curso.idc}"></td>
    <td th:text="${curso.name}"></td>
    <td th:text="${curso.description}"></td>
    <td th:text="${curso.duration}"></td>
    <td th:text="${curso.capacity}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
