<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Error Detected</title>
        <meta charset="ISO-8859-1"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    </head>
<body>
    <h1 style="color: #00976f">Error</h1>
    <p>An error occurred on the page:<br>
    The page you were looking for does not exist.<br>
    You may not have permissions to access the page.</p><br>
    <a href="/">Go to Login Page</a>
</body>
</html>